.about_div
{
	background-color:#555;
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	font-size:16px;
	color:#fff;
	margin-top:50px;
}
.contact_div
{
	background-color:#555;
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	font-size:16px;
	color:#fff;
	margin-top:470px;
}
nav 
{
    background-color: none;
}
nav ul
{
    margin: 0;
    padding: 0;
}
nav ul li 
{
    margin: 0;
    display: inline-block;
}
nav > ul > li > a {
    color: #fff;
    display: block;
    line-height: 1em;
    padding: 0.6em;
    text-decoration: none;
}
nav li:hover 
{
    background-color: #fff;
}
nav ul li a:hover
{
	color:#000;
}
p
{
	font-size:20px;
	text-align:justify;
	color:#fff;
	margin:30px 50px 0 50px;
}
ul
{
	list-style:none;
	text-align:left;
}
li
{
	margin:5px 50px 0 50px;
	font-size:20px;
	text-align:justify;
	padding-top:5px;
	padding-bottom:5px;
	color:#fff;
}
.ul_contact_me
{
	list-style:none;
	text-align:left;
}
.li_contact_me
{
	margin:5px 50px 0 5px;
	font-size:20px;
	text-align:justify;
	padding-top:5px;
	padding-bottom:5px;
	color:#fff;
}
body
{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background: url(images/back.jpg) no-repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	/*background: #355e5b;*/ 
}
h3
{
	color:#fff;
	margin:30px 50px 0 50px;
}
.image
{
	margin-top:20px;
	text-align:center;
	border-radius:5px;
	background-color:#fff;
	width:170px;
	height:250px;
}
img
{
	width:170px;
    height:250px;
	border-radius:5px;
}